.footer {
  height: 90px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #a2c4c99a;
  margin: 0;
  padding: 0;
  font-weight: 300;
  min-width: 600px;
}

.footer h5 {
  font-size: 22px;
  margin-top: 10px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
}

.socialMedia div {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-left: 20px;
}
.socialMedia div:hover {
  color: white;
  cursor: pointer;
}
.socialMedia div p {
  margin-right: 10px;
  font-size: 20px;
}

@media only screen and (max-width: 789px) {
  .footer {
    padding: 20px;
  }

  .footer h5 {
    font-weight: 100;
  }
}
